<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <header>
      <div class="container mx-auto md:flex justify-between p-gutter items-center">
        <a>Logo</a>
        <nav class="mt-4 md:my-4">
          <ul class="md:flex md:text-xl lg:text-2xl">
            <li class="md:mx-3">
              <a class="main-nav_link">Blog</a>
            </li>
            <li class="md:mx-3">
              <a class="main-nav_link">Knowledge</a>
            </li>
            <li class="md:mx-3">
              <a class="main-nav_link" aria-current="true">Data</a>
            </li>
            <li class="md:ml-3">
              <a class="main-nav_link">About</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    {{ content | safe }}

    <footer class="bg-primary text-white mt-gutter">
      <div class="container mx-auto p-gutter">
        footer
      </div>
    </footer>

  </body>
</html>
